body {
  font-family: 'PT Mono', sans-serif;
}

ul.pagination {
    margin:4px 0;
    padding:0px;
    height:100%;
    overflow:hidden;
    font:12px 'Verdana';
    list-style-type:none; 
}

ul.pagination li {
    float:left;
    margin:0px;
    padding:0px;
    margin-left:5px;
}
     
ul.pagination li:first-child {
    margin-left:0px;
}
     
ul.pagination li a {
    color:black;
    display:block;
    text-decoration:none;
    padding:7px 10px 7px 10px;
    border:solid 1px #DDDDDD;
	margin-right:2px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .pub { display: none; } 
}


ul.pagination li.active {
	color:black;
    	display:block;
    	text-decoration:none;
    	padding:7px 10px 7px 10px;
    	border:solid 2px #DDDDDD;
	margin-right:2px;
}

.main ul { 
	margin-left: 20px;
	list-style: square outside; 
}

#footer {
    margin-top: 40px;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    margin-bottom: 15px;
}